body {
    font-family: 'Montserrat', sans-serif;
}
nav {
    font-weight: 300;
}
.nav-link {
    border-bottom: solid 1px transparent;
}
.nav-link:hover {
    border-bottom: solid 1px #d9a566;
}
.bg-blue-ss {
    background-color: #464d73;
}
.bg-greenblue-ss {
    background-color: #43d9ae;
}
.title-carousel {
    color:  #43d9ae;
    font-size: 3rem;
    font-weight: 300;
}
.carousel-caption {
    bottom: 0%;
}
.foto {
    width: 200px;
    z-index: 1;
    position: absolute;
    margin-top: -150px;
}
.estracto {
    font-size: 1.25rem;
}
.linea-primaria {
    border-bottom: solid 2px #000;
    width: 150px;
}
.linea-secundaria {
    border-bottom: solid 2px #fff;
    width: 150px;
}
.font-700 {
    font-weight: 700;
}
.btn-ss {
    color: #fff;
    background-color: #43d9ae;
    border-color: #43d9ae;
}
.btn-ss:hover {
    color: #fff;
    text-decoration: none;
    background-color: #464d73;
    border-color: #464d73;
}
.text-detalles {
    color: #43d9ae;
    text-decoration: underline;
    cursor: pointer;
}
.text-detalles:hover {
    color: #464d73;
}
.text-vermas {
    font-size: 1.25rem;
    color: #43d9ae;
    text-decoration: underline;
    cursor: pointer;
}
.text-vermas:hover {
    color: #fff;
}
.img-footer {
    Margin-top: -30px;
}
.icon-footer {
    font-size: 4rem;
    color: #464d73;
    text-align: center;
}
.icon-footer:hover {
    color: #fff;
}
.ws-flotante {
    width: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 9;
}


